<%- include('../partials/header') %>
<section>
    <table id="plantList">
        <thead>
          <tr>
            <th>Plant Name</th>
            <th>Plant<br>Species</th>
          </tr>
        </thead>
        <tbody>
          <% plants.forEach(function(p) { %>
            <tr>
              <td><%= p.plantName %></td>
              <td><%= p.plantSpecies %></td>
              <td><a href="/plants/<%= p._id %>">DETAILS</a></td>
              <td>
                <% if (p.plantOwner.toString()===currentUser.toString()){ %>
                <form class="delete-form" method="POST" action="/plants/<%= p._id %>?_method=DELETE"> 
                <button type="submit">X</button></form>
              <% } %> 
              </td> 
            </tr>
            <% }); %>
          </tbody>
        </table>  
</section>              
<%- include('../partials/footer') %>