<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the Plantiful Life</title>
</head>
<body>
    <a href="/plantistas/new" class="brand-logo left">The Plantiful Life</a>
    <section id="show-details">
        <div>Plant Name:</div>
        <div><%= plant.plantName %></div>
        <div>Plant Species:</div>
        <div><%= plant.plantSpecies %></div>
        <div>Light:</div>
        <div><%= plant.light %></div>
        <div>Water:</div>
        <div><%= plant.water %></div>
        <div>Groom:</div>
        <div><%= plant.groom %></div>
        <div>Climate:</div>
        <div><%= plant.climate %></div>
        <div><%= plant.plantOwner %></div>
    </section>
    <br>
    <br>
    <h2>Care Logs</h2>
    <form id="care-log-form" method="POST" action="/plants/<%= plant._id %>/careLogs">
        <label>Watered</label>
        <input type="datetime-local" name="watered">
        <label>Groomed</label>
        <input type="datetime-local" name="groomed">
        <input type="submit" value="Add Care Log">
    </form>

    <% if (plant.careLog.length) { %>
        <table>
          <thead>
            <tr>
              <th>Watered</th>
              <th>Groomed</th>
            </tr>
          </thead>
          <tbody>
            <% plant.careLog.forEach(function(p) { %>
              <tr>
                <td><%= p.watered %></td>
                <td><%= p.groomed %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Care Logs Yet</h5>
      <% } %>
</body>
</html>