<%- include('../partials/header') %>
    <form class="details-form" action="/plants/<%= plant._id %> " method="POST"> 
        <h1>PLANT DETAILS</h1>
        <section id="show-details">
          <div>Plant Name:</div>
          <div><%= plant.plantName %></div>
          <div>Plant Species:</div>
          <div><%= plant.plantSpecies %></div>
          <div>Light:</div>
          <div><%= plant.light %></div>
          <div>Water:</div>
          <div><%= plant.water %></div>
          <div>Groom:</div>
          <div><%= plant.groom %></div>
          <div>Climate:</div>
          <div><%= plant.climate %></div>
          <div><%= plant.plantOwner %></div>
      </section>
        <br>
        <br>    
    <% if (plant.plantOwner.toString()===currentUser.toString()){ %>
        <a href ="/plants/<%=plant._id%>/edit"><div class="small-btn">Edit</div></a>
    <% } %> 
    <br>
    <form id="new-plantista-form" action="/plants" method="GET">  
      <button id="small-btn">View All Plants</button>
    </form>
    <br>
    <br>
    <h2>CARE LOGS</h2>
    <p>Keep your plants alive by logging in when you water and groom them. <br>Watch your plants git thrive and grow before your very eyes.</p>
    <form id="care-log-form" method="POST" action="/plants/<%= plant._id %>/careLogs">
    <% if (plant.plantOwner.toString()===currentUser.toString()){ %>
      <label>Watered</label>
      <br> 
        <input type="datetime-local" name="watered">
      <br>
      <br>   
      <label>Groomed</label>
      <br> 
        <input type="datetime-local" name="groomed">
      <br>
      <br>   
        <button id="small-btn">Add A New Care Log</button>
    <% } %> 
    </form>

    <% if (plant.careLog.length) { %>
        <table>
          <thead>
            <tr>
              <th>Watered</th>
              <th>Groomed</th>
            </tr>
          </thead>
          <tbody>
            <% plant.careLog.forEach(function(p) { %>
              <tr>
                <td><%= p.watered %></td>
                <td><%= p.groomed %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Care Logs Yet</h5>
      <% } %>
<%- include('../partials/footer') %>