<%- include('../partials/header') %>
    <form class="edit-form" action="/plants/<%= plant._id %> " method="POST"> 
        <h1>PLANT DETAILS</h1>
        <br>
        <div>Plant Name:</div>
            <input value="<%= plant.plantName %>" name="plantName">
        <br>
        <br>
        <div>Plant Species:</div>
            <input value="<%= plant.plantSpecies %>" name="plantSpecies">
        <br>
        <br>
        <div>Light:</div>
            <select value="<%= plant.light %>" name="light">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
        <br>
        <br>    
        <div>Water:</div>
            <select value="<%= plant.water %>"name="water">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
        <br>
        <br>   
        <div>Groom:</div>
            <select value="<%= plant.groom %>" name="groom">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
        <br>
        <br>
        <div>Climate:</div>
            <select value="<%= plant.climate %>" name="climate">
              <option value="COLD">COLD</option>
              <option value="DRY">DRY</option>
              <option value="HUMID">HUMID</option>
            </select>
        <br>
        <br>    
    <% if (plant.plantOwner.toString()===currentUser.toString()){ %>
      <button id="small-btn">Edit</button>
    <% } %> 
    </form>
    <br>
    <form id="new-plantista-form" action="/plants" method="GET">  
      <button id="splash-btn">View All Plants</button>
    </form>
    <br>
    <br>
    <h2>CARE LOGS</h2>
    <p>Keep your plants alive by logging in when you water and groom your plants. <br>Watch your plants tthrive and grow before your very eyes.</p>
    <form id="care-log-form" method="POST" action="/plants/<%= plant._id %>/careLogs">
    <% if (plant.plantOwner.toString()===currentUser.toString()){ %>
      <label>Watered</label>
      <br> 
        <input type="datetime-local" name="watered">
      <br>
      <br>   
      <label>Groomed</label>
      <br> 
        <input type="datetime-local" name="groomed">
      <br>
      <br>   
        <button id="small-btn">Add A New Care Log</button>
    <% } %> 
    </form>

    <% if (plant.careLog.length) { %>
        <table>
          <thead>
            <tr>
              <th>Watered</th>
              <th>Groomed</th>
            </tr>
          </thead>
          <tbody>
            <% plant.careLog.forEach(function(p) { %>
              <tr>
                <td><%= p.watered %></td>
                <td><%= p.groomed %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Care Logs Yet</h5>
      <% } %>
<%- include('../partials/footer') %>